@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Medium.eot');
  src: local('./fonts/TTLakes-Medium.eot'), local('./fonts/TTLakes-Regular'),
      url('./fonts/TTLakes-Medium.woff') format('woff'),
      url('./fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Bold.eot');
  src: local('./fonts/TTLakes-Bold.eot'), local('./fonts/TTLakes-Bold'),
     url('./fonts/TTLakes-Bold.woff') format('woff'),
      url('./fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Regular.eot');
  src: local('./fonts/TT Lakes Regular.eot'), local('./fonts/TTLakes-Regular'),
     url('./fonts/TTLakes-Regular.woff') format('woff'),
      url('./fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "TT Lakes",sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  background: #ffffff;
}
h1,p{
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.container2{
  
    width: 100%;
  
}
.page-header{
height: 88px;
display: flex;
align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
 
}
.menu:not(:nth-child(2)) {
  padding: 0 16px;
}
.menu__logo {
  margin-right: auto;
  margin-left: 15px;
}
.menu__repair {
  margin-right: 15px;
  position: relative;
}
.menu__call,
.menu__chat,
.menu__profile,
.menu__span {
  display: none;
}
.menu__repair::before {
 content: "";
 height: 32px;
 width: 2px;
 background-color: #eaeaea;
 left: -50%;
 top: 10px;
 position: absolute;
  }
.main__heading {
  font-size: 28px;
  padding: 24px 0;
 position: relative;
 margin-left:12px;
 font-weight: 700;
 }
.main__heading::before {
  content: "";
  width: 4px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #41f6d7;
  position: absolute;
  left:-12px;
  top:19px;
  }
main {
  background: #f8f8f8;
}
.main__scroll-menu {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 16px;
  }
.main__scroll-menu-link {
  text-decoration: none;
  color: #7e7e82;
  line-height: 43px;
  letter-spacing: -0.2px;
  font-weight: 500;
  padding: 8px 16px;
 
}
.main__scroll-menu-link:focus {
  border: 2px solid #b8ffec;
  background-color: white;
  border-radius: 6px;
}
.main__text{
  font-size: 14px;
  line-height: 18px;
  padding: 24px 16px 0;
  font-weight: 400;
  }
.main__text-content:nth-child(2) {
  display: none;
}
.main_btn-disc{
  display:flex;
  align-items: center;
  }
.main__content-btn{
padding: 16px 151px 16px 8px;
}
.main_btn-img{
  padding-right: 16px;
}
.main__img {
  width: 100%;
}
@media (min-width: 768px) {
  .menu:not(:nth-child(2)) {
    padding: 0 24px;
  }
  .menu__call,
  .menu__chat,
  .menu__profile {
    display: block;
    margin-right: 15px;
  }

  .menu__repair {
   padding-left: 27px;
  }
  .menu__repair::before {
    content: "";
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    left: 6%;
    top: 10px; 
    position: absolute;
  }
  .menu__burger{
    position: relative;
    padding-right: 27px;
  }
  .menu__burger::after {
    content: "";
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    
    right: 5%;
    top: 10px;
    position: absolute;
  }
  .main__heading {
    padding-left:  20px;
    padding-bottom: 37.5px;
  }
  .main__heading::before{
    left: -12px;
  }
  .main__text {
   order: 1;
    width: 312px;
    height:160px ;
    font-size: 14px;
    line-height: 20px;
    padding: 32px 48px 88px 24px;
    display: block;
  }
  
  .main__text-content-span {
    display: none;
  }

  .main__text-content:nth-child(2)  {
    display: block;
    padding-top: 20px;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
   }
  .main__content-btn{
    order: 3;
    padding: 10px 175px 54px 9px;
}
.main_btn-img{
  padding-right: 16px;
}
  .main__img {
    order: 2;
    width: 360px;
    padding: 6px 24px 14px 0;
  }
}
@media (min-width: 1120px) {
  html,
  body {
    background: #f8f8f8;
    padding-left: 150px;
    box-sizing: border-box;

   }
   .menu {
    display: flex;
    justify-content: flex-end;
    padding: 42px 32px 0 0;
  }
  .menu__burger,
  .menu__logo,
  .menu__call,
  .menu__chat,
  .menu__profile,
  .menu__repair::before {
    display: none;
  }
  .main__container {
   
    justify-content: space-evenly;
}
  .main__heading{
    margin: 42px 450px 0 32px;
    padding-bottom: 0;
    position: absolute;
    top: -1px;
  }
  .main__heading::before {
    width: 3px;
    left: -34px;
    top: 22px;
}
  .menu__repair, .menu__checkstatus{
    display: flex;
    align-items: center;
  }

  .menu__span {
    display: inline-block;
    padding-right: 8px;
  }

.main__scroll-menu {
  overflow-x: clip;
  flex-wrap: wrap;
  padding: 8.37px 19px 14.63px 32px;
  margin: 0;
}

  .main__text {
    width: 490px;
    padding: 19.32px 36px 13.78px 34px;
  }

  .main__text-content-span {
    display: block;
  }

  .main__img {
    width: 531.35px;
  }
  .main__scroll-menu-item:last-child{
    flex-basis: 100%;
  }
}
